@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 2s ease forwards;
  }

  .slide-in-left1 {
    animation: slideInLeft 3s ease forwards;
  }
  
  .slide-in-left2 {
    animation: slideInLeft 4s ease forwards;
  }